<!doctype html>
<html lang="en">
<head>
    <title>Concesionaria PickUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="Estilos\estilos.css">
</head>
<body>
    <header id="header">
        <nav class="nav">
            <a class="nav-link" href="pickups.html">Inicio</a>
            <a class="nav-link" href="pickup_update.html">Modificar</a>
            <a class="nav-link" href="pickup_nueva.html">Cargar nueva</a>
          </nav>
       
    </header>
    <main>
        <div id="app" class="container">
            <h1>PickUps</h1>
            <br>
            <a  class="btn btn-primary" href="pickup_nueva.html">Nueva</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos, ha ocurrido un error! Intente nuevamente más tarde :D</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="PickUp in PickUps">
                                    <td scope="row">{{PickUp.id}}</td>
                                    <td>{{PickUp.nombre}}</td>
                                    <td>{{PickUp.precio}}</td>
                                    <td>{{PickUp.stock}}</td>
                                    <td>
                                        <img width="60"  :src="PickUp.imagen" :alt="PickUp.nombre">
                                    </td>
                                    <td>
                    			<a class="btn btn-primary" :href="'pickup_update.html?id='+ PickUp.id" >Editar</a>
                                      <button type="button" class="btn btn-danger" v-on:click="eliminar(PickUp.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <footer><p>Copyright 2023©</p>
            <footer><p>Contáctanos al 555-5555 o envía un correo a ayudacompras@pickup.com</p></footer>
    <script 
Link de Bootstrap
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./JS\pickups.js"></script>
</body>
</html>